<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700|Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link async rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/semantic.min.css" />
    <link rel="icon" sizes="192x192" href="/images/pnny-editor.png">
    <link rel='stylesheet' href='/compiled/reddit.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">

    <script type="text/javascript">
      window.reactData={{{json reactData}}};
    </script>

  </head>
  <body>
    <div class="main"></div>
    <script type="text/javascript" src="/compiled/reddit.js"></script>
  </body>
</html>
