* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
  background-color: #f1ecec;
}

.hidden {
  opacity: 0;
  position: fixed;
}

.clear {
  clear: both;
}

a {
  text-decoration:none;
}

//main
.wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 880px;
  margin: 20px auto;
}

.postWrap {
  width: 100%;
}

.searchLabel {
  margin: 0 20px 20px  20px !important;
}

@media screen and (max-width: 700px) {
  .wrapper {
    display: block;
  }
}

//menu
.menu-wrap {
  position: sticky;
  align-self: flex-start;
  top: 10px;
}

@media screen and (max-width: 700px) {
  .wrap {
    position: relative;
    margin: 0 20px 27px;
  }
}

//loading
.loading-wrap {
  position: fixed;

  max-width: 700px;
  left: 50%;
  transform: translateX(-50%);
  color: #847f7f;
  top: 10%;
}

.loading-wrap p {
  font-style: italic;
  font-size: 26px;
}

.loader {
  margin-top: 30px !important;
}

@media screen and (max-width: 500px) {
  .quote {
    top: 3%;
    padding: 20px;
    left: 0;
    transform: translateX(0);
  }

  .quote p {
    font-size: 20px;
  }
}
