* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1ecec;
}

.hidden {
  position: fixed;

  opacity: 0;
}

.clear {
  clear: both;
}

a,
h1,
h2,
h3,
p {
  font-family: 'Comme', sans-serif;

  text-decoration: none;

  color: #fff;
}

.background {
  &--bull {
    background-color: #089981;
  }

  &--extended-bull {
    background-color: #4caf50;
  }

  &--bear {
    background-color: #d2042d;
  }

  &--extended-bear {
    background-color: #e65100;
  }
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  margin-top: 10px;
  margin-left: 50%;

  transform: translate(-50%);

  gap: 10px;

  @media screen and (max-width: 700px) {
    margin-left: 0;
    padding: 10px;

    transform: unset;
  }
}

.instrument {
  width: 180px;
  height: 180px;
  padding: 15px;

  border-radius: 7px;

  display: flex;
    justify-content: space-between;
    flex-direction: column;

  // box-shadow: rgba(0, 0, 0, 0.16) {
  // width: 100vw;
  // }

  @media screen and (max-width: 700px) {
    width: 100vw;
  }

  h1 {
    font-size: 20px;
  }

  h1,
  p {
    margin: 0;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.extended-info {
  display: flex;
  justify-content: space-between;
}

.status-line {
  width: 100%;
  height: 4px;

  border-radius: 10px;
  background-color: red;
}
